@import '../application/_color.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  box-sizing: border-box;
  padding: 1em;
}

.headingBlock {
  padding: 1em 3em 1.5em 3em;
  border: 4px solid $primaryColor;
}

.title {
  display: inline-block;
  font-size: 4em;
  margin: 0;
}

.tagline {
  margin: 0;
}

.actions {
  text-align: center;
  margin-top: 2em;
}

.link {
  margin: .3em;
}
