@import '../tile/tile.scss';
@import '../application/_color.scss';

.board {
  position: relative;
  margin: 0 auto;
  outline: 1px solid yellow;

  &Pannable {
    border: 1px solid red;
    overflow: hidden;
    flex-grow: 1;
  }
}

.tilePlaceholder {
  @include tileSize;
  position: absolute;
  transition: background-color .2s ease-out;
  opacity: .3;
  background-color: transparent;

  &IsOver {
    opacity: .5
  }

  &CanDrop {
    background-color: $accentColor;
  }
}
