@import '../tile/tile.scss';
@import '../application/_color.scss';

.board {
  position: relative;
  margin: 0 auto;

  &Pannable {
    overflow: hidden;
    flex-grow: 1;
    border: 4px solid rgba(0, 0, 0, .08);
    margin-bottom: 1em;
  }

  &ElementPan {
    position: absolute;
  }
}

.tilePlaceholder {
  width: $tileSize - 1;
  height: $tileSize - 1;
  position: absolute;
  transition: background-color .2s ease-out;
  opacity: .3;
  background-color: transparent;
  z-index: 1;

  &IsOver {
    opacity: .5
  }

  &CanDrop {
    background-color: $accentColor;
  }
}

.stonePlaceholder {
  width: $tileSize / 2 - 2px;
  height: $tileSize / 2 - 2px;
  margin-left: 2px;
  margin-top: 2px;
  position: absolute;
  transition: background-color .2s ease-out;
  opacity: .3;
  background-color: transparent;

  &IsOver {
    opacity: .5
  }

  &CanDrop {
    background-color: $accentColor;
  }
}
