@import '../application/_color.scss';
@import '../tile/tile.scss';

.game {

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &Player {

    &Item {
      display: inline-block;
      float: left;
      @include tileSize;
      margin: 4px;
      text-align: center;

      &Label {
        font-size: 14px;
        line-height: 24px;
      }

      &Value {
        font-size: 24px;
        line-height: 38px;
      }
    }

    @mixin hoverScale($val) {
      transition: transform .1s ease-out;

      &:hover {
        transform: scale($val);
      }
    }

    &Supply, &Tile {
      cursor: pointer;
      transition: box-shadow .1s ease-out;

      &:hover {
        box-shadow: 0 0 2px 2px $accentColor;
      }
    }

    &Stone {
      display: inline-block;
      margin: 10px 1px;
      cursor: pointer;

      @include hoverScale(1.2);
    }

    &Tile {
      @include hoverScale(1.1);
    }

  }
}

.multiplayer {

  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  &Game {
    flex-grow: 2;
    position: relative;
    height: 100%;
  }

}

.chat {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 48px;
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  &Message {
    &Author {
      font-weight: 800;
      color: $accentColor;

      &Opponent {
        color: $contrastColor;
      }

      &:after {
        content: ': ';
      }
    }

    &Text {

    }
  }

  &Send {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    padding-right: 12px;

    &Input {
      font-size: 1em;
      flex-grow: 2;
      border: 1px solid rgba($primaryColor, .3);
      color: $primaryColor;
      padding: 0 8px;

      &:focus {
        outline: none;
        border-color: $accentColor;
      }
    }

    &Button {
      margin-left: -1px;
      flex-grow: 1;
    }
  }
}

.solo {
  position: relative;
  height: 100%;
}

