@import '../application/_color.scss';
@import '../tile/tile.scss';

.game {

  &Root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &Player {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &Hand {
    flex-grow: 1;

    &Tile, &Supply {
      display: inline-block;
      float: left;
      margin: 2px;
      cursor: pointer;
      transition: transform .1s ease-out, box-shadow .1s ease-out;

      &:hover {
        box-shadow: 0 0 2px 2px $accentColor;
        transform: scale(1.05);
        z-index: 10;
      }
    }

    &Tile {
      &Dragging {
        opacity: .5;
      }
    }

    &Supply {
      @include tileSize;
      text-align: center;

      &Label {
        font-size: 14px;
        line-height: 20px;
      }

      &Total {
        font-size: 24px;
        line-height: 42px;
      }
    }
  }

  &Stones {
    @include tileSize;
    margin: 2px;
    text-align: center;

    &Label {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &Stone {
      display: inline-block;
      margin: 1px;
      cursor: pointer;
      transition: transform .1s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

}

.multiplayer {

  &Root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }

  &Game {
    flex-grow: 2;
  }

}

.solo {

  &Root {
    width: 100%;
    height: 100%;
  }

  &Game {
  }

}
