@import '../application/_color.scss';
@import '../tile/tile.scss';

.game {

  &Root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &Hand {
    flex-grow: 1;

    &Tile, &Supply {
      float: left;
      display: inline-block;
      margin: 2px;
      cursor: pointer;
      transition: box-shadow .1s ease-out;

      &:hover {
        box-shadow: 0 0 2px 2px $accentColor;
      }
    }

    &Supply {
      @include tileSize;
      text-align: center;

      &Label {
        font-size: 14px;
        line-height: 20px;
      }

      &Total {
        font-size: 24px;
        line-height: 42px;
      }
    }
  }

  &Player {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &Tile {
      transition: transform .1s ease-out;

      &Dragging {
        opacity: .5;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &Stone {
      &Dragging {
        opacity: .5;
      }
    }
  }

  &Stones {
    @include tileSize;
    margin: 2px;
    text-align: center;

    &Label {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &Stone {
      display: inline-block;
      margin: 1px;
      cursor: pointer;
      transition: transform .1s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

}

.multiplayer {

  &Root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }

  &Game {
    flex-grow: 2;
  }

}

.chat {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 36px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 14px;

  &Message {
    &Author {
      font-weight: 800;
      color: $accentColor;

      &Opponent {
        color: $contrastColor;
      }

      &:after {
        content: ': ';
      }
    }

    &Text {

    }
  }

  &Send {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    padding-right: 12px;
    font-size: 14px;

    &Input {
      flex-grow: 2;
      border: 1px solid rgba($primaryColor, .3);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      color: $primaryColor;
      padding: 0 8px;
      font-size: 14px;
      &:focus {
        outline: none;
        border-color: $accentColor;
      }
    }

    &Button {
      margin-left: -1px;
      flex-grow: 1;
      border: 2px solid transparent;
      background: $accentColor;
      color: #fff;
      font-size: 12px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: darken($accentColor, 25%);
      }
    }
  }
}

.solo {

  &Root {
    width: 100%;
    height: 100%;
  }

  &Game {
  }

}

