@import '../application/_color.scss';

$tileSize: 64px;

@mixin tileSize {
  width: $tileSize;
  height: $tileSize;
}

.tile {
  @include tileSize;
  box-shadow: 2px 2px 3px rgba($primaryColor, .2);
  background-color: $backgroundColor;
  border: 1px solid rgba($primaryColor, .3);
  box-sizing: border-box;

  &MicropulBlack {
    stroke-width: 2;
    stroke: #000;
    fill: #000;
  }

  &MicropulWhite {
    stroke-width: 2;
    stroke: #000;
    fill: none;
  }
}

.handTile {
  @include tileSize;
  position: relative;
  cursor: move;

  &Dragging {
    opacity: .2;
  }
}
